<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<div th:fragment="header" class="header">
			<h1>台灣加權指數快報</h1>
		</div>
		<nav th:fragment="navbar">
			<ul>
				<li class="nav-left">
					<a href="/home" id="homeURL">大盤資訊</a>
			  	</li>
				<li class="nav-left">
					<a href="/companyStockHistory" id="companyStockHistoryURL">查詢個股</a>
				</li>
				<li class="nav-left" id="companyInfoURL">
					<a href="/">查詢公司資訊</a>
				</li>
				<li th:if="${isAdmin} == true" class="nav-left">
					<a href="/">Admin page</a>
				</li>
				<li class="nav-left" id="orderSystemURL">
					<a href="/">下單系統</a>
				</li>
				<li class="nav-right">
				   	<a href="/">登出</a>
				</li>
			</ul>
		</nav>	
	</body>
</html>