<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<nav th:fragment="navbar">
			<ul>
				<li class="nav-left">
					<a href="/" class="nav-active">即時資訊</a>
			  	</li>
				<li class="nav-left">
					<a href="/">查詢個股</a>
				</li>
				<li class="nav-left">
					<a href="/">查詢公司資訊</a>
				</li>
				<li th:if="${isAdmin} == true" class="nav-left">
					<a href="/">Admin page</a>
				</li>
				<li class="nav-left">
					<a href="/">下單系統</a>
				</li>
				<li class="nav-right">
				   	<a href="/">登出</a>
				</li>
			</ul>
		</nav>	
	</body>
</html>