<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>renard</title>
		<link rel="stylesheet" href="css/style.css">
		<script src='https://cdn.plot.ly/plotly-2.9.0.min.js'></script>
		<script src="js/script.js"></script>
		<script src="js/navbar.js"></script>
		<!--link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">  -->
	</head>
	<body>
		<div th:replace="~{fragment :: header}"></div>
		<div th:replace="~{fragment :: navbar}"></div>
		<script>setNavBarTagActive("homeURL")</script>
		<div class="dailyInfo">
			<h2>今日即時資訊</h2>
			<p>
				今日日期： <output id="currentDate"></output>
				&nbsp; 當前時間： <output id="currentTime"></output>
				<br>
				大盤指數(每半分鐘更新)： <output id="instantIndex"></output>
				今日最高點： <output id="todayIndexHighest"></output>
				今日最低點： <output id="todayIndexLowest"></output>
				今日開盤： <output id="todayOpeningIndex"></output>
				昨日收盤： <output id="yesterdayClosingIndex"></output>
			</p>
		</div>
		<div class="monthlyInfo">
			<h2>本月大盤走勢</h2>
			<div id="indexPlot">
				<div id="plotChart"></div>
			</div>
			<div id="indexTable">
			</div>
		</div>
		<div class="rankInfo">

		</div>
		<!--script src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>  -->
	</body>
</html>