<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>renard</title>
		<link rel="stylesheet" href="css/style.css">
		<script src='https://cdn.plot.ly/plotly-2.9.0.min.js'></script>
		<script src="js/navbar.js"></script>
		<script src="js/common.js"></script>
		<script src="js/search.js"></script>
	</head>
	<body>
		<div th:replace="~{fragment :: header}"></div>
		<div th:replace="~{fragment :: navbar}"></div>
		<script>setNavBarTagActive("orderSystemURL")</script>
		
		<div id="dateTimeSection">
			<p>
				今日日期： <output id="currentDate"></output>
				&nbsp; 當前時間： <output id="currentTime"></output>
			</p>
		</div>
		<script>getDateTime()</script>
		
		<div id="orderBar">
			<h2>股票交易</h2>
			<form action="#" th:action="@{/orderSystem}" class="orderForm" id="searchForm" method="post">
				<label for="companySearch">股票代號</label>
				<input type="text" id="companySearch" name="stockId"
					list="companyAndId" placeholder="範例： 1101 台泥" maxlength="4" required="required">
				<datalist id="companyAndId">
				</datalist>
				<label for="price">交易價格(單位：新台幣)</label>
				<input type="text" id="price" name="price" placeholder="範例： 47.95" required="required">
				<label for="volume">交易數量(單位：股)</label>
				<input type="text" id="volume" name="volume" placeholder="範例： 1000" required="required">
				<input type="submit" id="buyButton" name="buyButton" value="買進">
				<input type="submit" id="sellButton" name="sellButton" value="賣出">
			</form>
		</div>
		<div id="currentProfit">
			<h2>獲利計算</h2>
			<p>
				存股淨值： <output id="storageStockValue" th:text="${stockTotalValue}">0</output> 
				&nbsp;&nbsp;&nbsp;&nbsp;
				買賣價差獲利： <output id="transactionProfit" th:text="${transactionProfit}" 
				th:class="${transactionProfit} >= 0 ? 
					((${transactionProfit} > 0) ? 'positive') : 'negative'">0</output>
			</p>
		</div>
		<div id="storageStock">
			<h2>存股紀錄</h2>
			<h3 th:text="${testString}"></h3>
			<table id="storageStockTable">
				<thead>
					<tr>
						<th>股票代號</th>
						<th>股數</th>
						<th>成交均價</th>
						<th>現價<br>(日期：<span th:text="${updateDate}"></span>)</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="stock, iterStat : ${storageStocks}">
						<td th:text="${stock.stockId}"></td>
       					<td th:text="${stock.volume}"></td>
        				<td th:text="${stock.avgPrice}"></td>
        				<td th:text="${stockPrices[iterStat.index]}"></td>
					</tr>
				</tbody>
			</table>
			<p class="note">
				附註：現價以今日收盤價或昨日收盤價計
			</p>
		</div>
		<div id="transactionHistory">
			<h2>交易紀錄</h2>
			<table id="transactionTable">
				<thead>
					<tr>
						<th>買/賣</th>
						<th>交易日期</th>
						<th>股票代號</th>
						<th>股數</th>
						<th>成交價</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="transaction : ${transactions}">
						<td id="buyOrSell" th:text="${transaction.buyOrSell}"
							th:class="${transaction.buyOrSell} == '買進' ? 'buy' : 'sell'"></td>
						<td th:text="${transaction.date}"></td>
						<td th:text="${transaction.stockId}"></td>
						<td th:text="${transaction.volume}"></td>
						<td th:text="${transaction.price}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</body>
</html>