/*Header*/
div.header {
  width: 100%;
  background-color: #333;
  margin-bottom: -22px;
  padding-bottom: 20px;
  color: white;
}

/*Navigation Bar*/
nav {
  position: sticky;
  top: 0;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-weight: bold;
}

nav li.nav-left {
  float: left;
}

nav li.nav-right {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.nav-active) {
  background-color: #111;
}

nav li a.nav-active {
  background-color: #04AA6D;
}

/*Daily info*/
div.dailyInfo {
	border: 1px solid black;
}

div.dailyInfo p {
	font-size: 20px;
}

div.dailyInfo output {
	font-weight: bold;
	color: #2e3436;
}

div.dailyInfo #todayIndexHighest {
	font-weight: bold;
	color: red;
}

div.dailyInfo #todayIndexLowest {
	font-weight: bold;
	color: green;
}

/*Monthly info*/
div.monthlyInfo {
	border: 1px solid black;
}

div#indexTable {
	width: 60%;
	height: 300px;
	margin-left: 20%;
	overflow: scroll;
}

div#indexTable table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 60%;
  text-align: center;
}
div#indexTable table thead {
  position: sticky;
  top: 0;
}


div#indexTable table td, div#indexTable table th {
  border: 1px solid #ddd;
  padding: 8px;
}

div#indexTable table tr:nth-child(even) {
	background-color: #f2f2f2;
}

div#indexTable table tr:hover {
	background-color: #ddd;
}

div#indexTable table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}

#plotChart {
  width: 60%;
  padding-left: 20%;
}

/*Rank info*/
div.rankInfo {
	border: 1px solid black;
}

/*Search form*/
form.searchForm {
	margin-left: 20px;
}

form.searchForm label {
	font-size: 16px;
	
}

form.searchForm input[type=text] {
	width: 10%;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 16px;
  	background-color: white;
  	background-image: url('../icon_and_picture/searchicon.png');
  	background-position: 10px 10px; 
  	background-repeat: no-repeat;
  	padding: 10px 20px 10px 40px;
}

form.searchForm input[type=submit],
form.searchForm button {
  background-color: #04AA6D;
  color: white;
  margin-left: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form.searchForm input[type=submit]:hover {
  background-color: #45a049;
}

div#companyInstantIndex p {
	font-size: 20px;
}

div#companyInstantIndex output {
	font-weight: bold;
	color: #2e3436;
}

div#companyInstantIndex #todayIndexHighest {
	font-weight: bold;
	color: red;
}

div#companyInstantIndex #todayIndexLowest {
	font-weight: bold;
	color: green;
}

/*Company info table*/
table#companyInfoTable,
table#storageStockTable,
table#transactionTable {
	border-collapse: collapse;
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	text-align: center;
}

table#companyInfoTable tr,
table#companyInfoTable td,
table#companyInfoTable th,
table#storageStockTable tr,
table#storageStockTable td,
table#storageStockTable th,
table#transactionTable tr,
table#transactionTable td,
table#transactionTable th {
	border: 1px solid #ddd;
	padding: 10px 5px;
}

table#companyInfoTable th,
table#storageStockTable th,
table#transactionTable th {
  background-color: #04AA6D;
  color: white;
}

/*Order bar*/
form.orderForm {
	margin-left: 20px;
}

form.orderForm label {
	margin-left: 20px;
	font-size: 20px;
	color: #2e3436;
}

form.orderForm input[type=text] {
	width: 10%;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 16px;
  	background-color: white;
  	background-position: 10px 10px; 
  	background-repeat: no-repeat;
  	padding: 10px;
  	margin-left: 10px;
}

form.orderForm input[type=submit],
form.orderForm button {
  background-color: #04AA6D;
  color: white;
  margin-left: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form.orderForm input[type=submit]#buyButton {
  background-color: #5bb450;
}

form.orderForm input[type=submit]#sellButton {
  background-color: #ea4638;
}

/*Date time section*/
div#dateTimeSection p,
div#currentProfit p {
	font-size: 20px;
	margin-left: 40px;
}

div#dateTimeSection output,
div#currentProfit output {
	font-weight: bold;
	color: #2e3436;
}

p.note {
	text-align: center;
}

/*Order system*/
output#transactionProfit.positive,
td#buyOrSell.buy {
	color: green;
	font-weight: bold;
}

output#transactionProfit.negative,
td#buyOrSell.sell {
	color: red;
	font-weight: bold;
}
